src/main/mule/salesforce-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72342be5-2b62-4179-abb8-8dd9aed52af4" >
		<http:listener-connection host="${http.host}" port="${http.port}" readTimeout="${http.readTimeOut}"/>
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="a8fa1c75-4d23-4768-93cd-6a272d1f7a10" >
		<salesforce:basic-connection username="${secure::salesforce.username}" password="${secure::salesforce.password}" securityToken="${secure::salesforce.securitytoken}" />
	</salesforce:sfdc-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="2cc5b5e4-9e7c-4a75-9067-0623f73f1b4e" file="properties/secure-${env}.yaml" key="${mule.key}" />
	<configuration-properties doc:name="Configuration properties" doc:id="7fdd6556-caad-4cd3-9606-15cb4a45af9e" file="properties/${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="3e1eb1ff-fb18-4c85-91bf-e61114e52819" name="env" value="${env}" />
	<global-property doc:name="Global Property" doc:id="e0e75c4c-9d37-4460-8a45-98f8cf8e518f" name="mule.key" value="${mule.key}" />
	<flow name="salesforce-test-apiFlow" doc:id="14e8b368-fea5-460d-aad1-204a31c8bd42" >
		<http:listener doc:name="Listener" doc:id="c62c7995-5605-427a-8efa-b22cd627b832" config-ref="HTTP_Listener_config" path="/sf_query"/>
		<ee:transform doc:name="Transform Message" doc:id="f0640324-1eb4-4e09-91d1-1c1b9ea7a2cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.query]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="c77c5cf9-87ee-494b-ad12-2bdb7e7ce1b8" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="caf7c503-3f3a-41d4-84bb-c66a70757daf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="85bb6570-63fb-450c-977f-c1dfae13cc15" message="#[payload]"/>
	</flow>
</mule>
